content-table {
    z-index: 200;

    position: fixed;
    right: 3%;
    top: 120px;

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: start;

    height: 50%;
    max-width: 15%;
    padding: 3%;
    border-radius: 10px;
    gap: 10px;

    overflow-y: scroll;

    background-color: #2d2d2d;
}

content-table::-webkit-scrollbar {
    width: 20px;
}

content-table::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 50%);
    width: 10px;

    border: 5px solid #2d2d2d;
    border-radius: 10px;
}

content-table::-webkit-scrollbar-button, content-table::-webkit-scrollbar-corner {
    visibility: hidden;
}

.content-table-text {
    padding: 10px;
    border-radius: 10px;

    font: var(--pretendard-semi-bold);
    line-height: 120%;

    transition: 0.5s;
}

.content-table-text:hover {
    transform: translateX(-5px);
    background-color: #333333;
}