* {
    font-family: "Pretendard";
    color: #eeeeee;
}

ol {
    margin: 10px 0;
}

ol, ul {
    gap: 10px
}

p, a, li, p * {
    padding: 0;
    margin: 0;

    height: min-content;

    white-space: normal;
}

p strong {
    font-family: "Pretendard SemiBold";
}

main p, main li {
    line-height: 170%;
    font-size: 19px;
}

main li::marker {
    margin-right: 10px;
}

main h1 {
    margin-top: 40px;
    font-size: 36px;
}

main h2 {
    margin-top: 40px;
    font-size: 30px;
}

main h3 {
    margin: 10px 0;
    font-size: 24px;
}

main h4 {
    margin: 10px 0;
    font-size: 20px;
}

.sidebar a {
    text-decoration-line: none;
}

.sidebar-text {
    padding: 10px;
    border-radius: 10px;

    font-family: "Pretendard SemiBold";
    line-height: 120%;
}

.sidebar-text:hover {
    background-color: #333333;
}

code {
    padding: 1px 10px;
    margin: 0 3px;
    background-color: #333333;
    border-radius: 10px;
    font-family: "JetBrains Mono", ui-monospace;
    font-size: 18px;
}
