* {
    font-family: "Pretendard";
    color: #eeeeee;
}

p, a, p * {
    padding: 0;
    margin: 0;

    height: min-content;

    white-space: normal;
}

.sidebar a {
    text-decoration-line: none;
}

p strong {
    font-family: "Pretendard SemiBold";
}

.code {
    font-family: "JetBrains Mono", ui-monospace;
}

main p {
    line-height: 170%;
    font-size: 20px;
}

main h1 {
    margin-top: 40px;
    font-size: 40px;
}

main h2 {
    margin-top: 40px;
    font-size: 32px;
}

main h3 {
    font-size: 26px;
    margin: 10px 0;
}

main h4 {
    font-size: 20px;
    margin: 10px 0;
}

.sidebar-text {
    padding: 10px;
    border-radius: 10px;

    font-family: "Pretendard SemiBold";
    line-height: 120%;
}

.sidebar-text:hover {
    background-color: #333333;
}