pre {
    height: min-content;
    width: 100%;
}

code-block {
    display: flex;
    flex-direction: column;
    width: 100%;

    border-radius: 10px;

    background-color: #333333;
}

.code-block-button-wrap {
    display: flex;
    flex-direction: row;

    padding: 0 10px;
    gap: 10px;

    border-radius: 10px 10px 0 0;
    background-color: #333333;
}

.code-block-button {
    display: flex;
    flex-direction: row;

    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    background-color: #333333;

    font-size: 16px;
}

.code-block-button:hover {
    background-color: #444444;
}

.code-block-element {
    display: flex;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
}

code {
    height: min-content;
    width: auto;

    border-radius: 0 0 10px 10px;
    font-family: "JetBrains Mono", ui-monospace;
    font-size: 16px;
    white-space: pre;
}

pre code.hljs {
    overflow-x: scroll;
}

code * {
    font-family: "JetBrains Mono", ui-monospace;
    font-size: 16px;
    white-space: pre;
}

code::-webkit-scrollbar {
    width: 20px;
}

code::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 20%);
    width: 10px;

    border: 5px solid #0d1117;
    border-radius: 10px;
}

code::-webkit-scrollbar-track, html::-webkit-scrollbar-button, .sidebar::-webkit-scrollbar-corner {
    visibility: hidden;
}
